<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nos Categories de Plat</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col *ngFor="let category of categories" size="6">
      <ion-card button [routerLink]="['/category', category.id ]">
        <img
          src="https://img.freepik.com/free-photo/grilled-meat-skewers-with-fresh-vegetables-spices-generated-by-ai_188544-53896.jpg?t=st=1714789305~exp=1714792905~hmac=566b596995254839e10fa917895293962da06723b5d538d6f4c03fcce30c8fe4&w=1060"
          alt="">
        <ion-card-header>
          <ion-card-subtitle>{{ category.nom_categorie }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>