<form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input formControlName="nom"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Prénom</ion-label>
    <ion-input formControlName="prenom"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Téléphone</ion-label>
    <ion-input formControlName="telephone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input formControlName="email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input formControlName="password" type="password"></ion-input>
  </ion-item>

  <ion-button expand="full" type="submit" [disabled]="!inscriptionForm.valid">S'inscrire</ion-button>
</form>
